# All project packages
.env/

# All pycache files
*__pycache__*

# All project cache files
app/cache/*/*
!app/cache/*/.gitkeep

# All Downloaded and transformed data
app/data/raw/*.txt
app/data/raw/*.gmt

app/data/processed/*/*
app/data/processed/*.*
!app/data/processed/*/.gitkeep

# All configuration files except templates
app/conf/*
!app/conf/__*__.yaml
