# All project packages
.env/

# All pycache files
*__pycache__*

# All project cache files
app/cache/networkx/*
app/cache/tensorflow/*

# All Downloaded and transformed data
app/data/raw/*.txt
app/data/raw/*.gmt
app/data/processed/lookup.csv
app/data/processed/biogrid/*
app/data/processed/edges/*
app/data/processed/gene_ids/*
app/data/processed/skipgrams/*
app/data/processed/transition_probs/*
app/data/processed/vertices/*
app/data/processed/walks/*

# All configuration files except templates
app/conf/*
!app/conf/__*__.yaml
